{% load static %}
<html>
    <head>
        <title>King's World</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <div class="page-header">
        <h1><a href="/">King's World</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
	<footer><p>&copy;2019 DetayoKing</p></footer>
	<div class="navbar-nav">
       <a class="nav-item nav-link" href="{% url 'blog-about' %}"><h5>About King's World</h5></a>
    </div>
    	<footer><p>&copy;2019 DetayoKing</p></footer>
</html>
