{% load static %}
<html>
    <head>
        <title>King's World</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>
    </style>
</head>
		<body>

	<div class="top">
		  {% load staticfiles %}
		<a href="{% url 'articles' %}"><img src="{% static "blog/logo.jpg" %}"/> </a>
		</div>
		 <div class="navbar-nav">
			   <a class="nav-item nav-link" href="{% url 'blog-about' %}"><h5>About</h5></a>
			   <a class="nav-item nav-link" href="{% url 'contact' %}"><h5>Ask King</h5></a>
	</div>
		<font color="gold" style=>
			<center>
				<h1>Welcome to King's World</h1>
				<h5>Home of deep-inspiring articles</h5>
				<p></p>
			</center>
		{% for post in posts %}
		<div class="post">
             <ul><h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1></ul>
             <div class = "post_body">
				{{ post.body|safe|truncatewords:"30"|linebreaks }}
				<a href="{% url 'post_detail' pk=post.pk %}"> Read More</a>
			</div>
		</div>
		{% endfor %}	
	<div class="pagination">
		<span class="step-links">

	  {% if posts.has_previous %}
		  <a href="?page=1">&laquo; first</a>
		  <a href="?page{{posts.previous_page_number}}">previous</a>
	  {% endif %}
	  
		<span class="current">{{posts.number}}{{posts.paginator.num_pages}}</span>
			{% if posts.has_next %}
				<a href="?page={{posts.next_page_number}}">next</a>
				<a href="?page={{posts.paginator.num_pages}}">last &raquo; </a>
			{% endif %}

		</span>
	</div>	
		
		</body>
</html>

    	<footer><p>&copy;2019 DetayoKing</p></footer>
</html>
