{% load static %}
<html>
    <head>
        <title>King's World</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>
    </style>
</head>
	<header>

	<div class="top">
		  {% load staticfiles %}
		<img src='{% static "blog/logo.jpg" %}'>
	</div>
			 <div class="a">
				 <u><h3><a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a></u> &emsp;    
						<u><a class="nav-item nav-link" href="{% url 'contact' %}">Ask King</a></h3></u>
			 </div>
	<font color="gold">
			<center>
				<h1>Welcome to King's World</h1>
				<h5>Home of deep-inspiring articles</h5>
				<p></p>
			</center>
	</header>
	<body>
		{% for post in posts %}
		<p>
		<div class="post">
             <ul><h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1></ul>
             <div class = "post_body">
			 <div class="b"> 
				<font color="deac49">{{ post.text|safe|truncatewords:"30"|linebreaks }}</font>
				<a href="{% url 'post_detail' pk=post.pk %}"> <u>Read More</u></a>
				<div class="breaker"></div>
			 </div>
			</div>
		</div>
		</p>
		{% endfor %}	
	<div class="pagination">
		<span class="step-links">

	  {% if posts.has_previous %}
		  <a href="?page=1">&laquo; first</a>
		  <a href="?page{{posts.previous_page_number}}">previous</a>
	  {% endif %}
	  
		<span class="current">{{posts.number}}{{posts.paginator.num_pages}}</span>
			{% if posts.has_next %}
				<a href="?page={{posts.next_page_number}}">next</a>
				<a href="?page={{posts.paginator.num_pages}}">last &raquo; </a>
			{% endif %}

		</span>
	</div>	
		
	</body>
	</font>
    <footer><font color="silver"><p>&copy;2019 DetayoKing</p></font></footer>
</html>
